<!DOCTYPE html>
<html lang="en">
<head>
  <base href="{{_BASE}}">
  <title>Credo</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% block description %}{% endblock %}"/>
  <link rel="icon" href="images/logo-c-white.png">

  {# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> #}
  <link rel="stylesheet" href="owl/assets/owl.carousel.min.css" />
  <link rel="stylesheet" href="owl/assets/owl.theme.default.css" />
  <link href="fontawesome-free-5.6.3-web/css/all.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
    <div class="header header--opened d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between padding-x-main">
            <div class="d-flex justify-content-left" id="logo">
                <a href="home">
                    {# <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 108 20" style="enable-background:new 0 0 108 20;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#010101;}
                        </style>
                        <path id="XMLID_2_" class="st0" d="M39.3,7.7c0-4-3.2-7.3-7.2-7.3h-8.6v19.2h3.8V15h3.9l3.9,4.6h5l-4.6-5.5  C37.8,12.9,39.3,10.5,39.3,7.7z M27.4,4.2h4.8c1.9,0,3.4,1.6,3.4,3.5c0,1.9-1.5,3.5-3.4,3.5h-4.8V4.2z M98.2,0  c-5.4,0-9.8,4.5-9.8,10s4.4,10,9.8,10s9.8-4.5,9.8-10S103.6,0,98.2,0z M98.2,16.2c-3.3,0-6-2.8-6-6.2s2.7-6.2,6-6.2s6,2.8,6,6.2  S101.5,16.2,98.2,16.2z M46.5,0.4H59v3.8h-8.7v3.9h7.6v3.8h-7.6v3.9H59v3.8H46.5V0.4z M3.8,10c0,3.4,2.7,6.2,6,6.2  c2.2,0,4.2-1.2,5.2-3.1l3.3,1.8c-1.7,3.1-5,5.1-8.6,5.1C4.4,20,0,15.5,0,10S4.4,0,9.8,0c3.5,0,6.8,2,8.6,5.1L15,6.9  C14,5,12,3.8,9.8,3.8C6.5,3.8,3.8,6.6,3.8,10z M73.7,0.4h-7.6v19.2h7.6c5.2,0,9.4-4.3,9.4-9.6S78.9,0.4,73.7,0.4z M73.7,15.8h-3.8  V4.2h3.8c3.1,0,5.6,2.6,5.6,5.8S76.8,15.8,73.7,15.8z"/>
                    </svg> #}
                    <div class="logo"></div>
                </a>
            </div>
            <div class="d-flex" id="menuitems">
                <div class="d-flex justify-content-end">
                    <div class="d-flex align-items-center margin-x-menu-items item {% if _GET[0] == 'contact' %} white {% else %} black {% endif %}"><a class="font-14 menu" href="projects">Projects</a></div>
                    <div class="d-flex align-items-center margin-x-menu-items item {% if _GET[0] == 'contact' %} white {% else %} black {% endif %}"><a class="font-14 menu" href="profiles">Profile</a></div>
                    <div class="d-flex align-items-center margin-x-menu-items item {% if _GET[0] == 'contact' %} white {% else %} black {% endif %}"><a class="font-14 menu" href="contact">Contact</a></div>
                    <div class="d-flex align-items-center ham">
                        <style>
                            .black {
                                fill: #000000;
                            }
                            .white {
                                fill: #FFFFFF;
                            }
                        </style>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none" id="ham">
                            <path d="M3.75 22.5H11.25V20H3.75V22.5ZM3.75 7.5V10H26.25V7.5H3.75ZM3.75 16.25H18.75V13.75H3.75V16.25Z" class="{% if _GET[0] == 'contact' %} white {% else %} black {% endif %}"  />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center mobile_home mobile_home--closed" id="mobilemenu">
        <div class="container d-flex align-items-center justify-content-right mobile_home-top">
            <p class="padding-x-main font-18 font-bold white" id="ex">X</p>
        </div>
        <div class="container d-flex flex-direction flex-2 justify-content-left mobile_home-wrapper">
            <div class="margin-y-text margin-x-box mobile_home-wrapper-item white"><a class="font-32" href="projects">Projects</a></div>
            <div class="margin-y-text margin-x-box mobile_home-wrapper-item white"><a class="font-32" href="profiles">Profile</a></div>
            <div class="margin-y-text margin-x-box mobile_home-wrapper-item white"><a class="font-32" href="contact">Contact</a></div>
        </div>
        <div class="container d-flex flex-column align-items-left justify-content-center flex-2 mobile_home-bottom">
            <p class="padding-x-main font-14 font-bold margin-y-p white">Contact information</p>
            <p class="padding-x-main font-14 white margin-y-p">Email: <a class="font-14 white" href="mailto:info@credo.agency">info@credo.agency</a></p>
            <p class="padding-x-main font-14 padding-y-15 white">Credo Agency - Kuwait</p>

            <p class="padding-x-main font-14 font-bold margin-y-p white">Social</p>
            <p class="padding-x-main margin-y-p">
                <a class="font-14 white" href="#">Behance</a>
            </p>
            <p class="padding-x-main margin-y-text">
                <a class="font-14 white" href="https://www.instagram.com/credo.agency/" target="_blank">Instagram</a>
            </p>
        </div>
    </div>

{% block content %}{% endblock %}

    <footer class="footer d-flex justify-content-center padding-y-40 {% if (_GET[0] != 'contact' and  _GET[0] != 'profiles') %} footer--background-white {% else %} footer--background-black {% endif %}">
        <div class="container padding-x-main footer--container">
        <div class="prev-next">
        {% if _GET[0] == 'project' %}
            {% set prev_project = fetch ("prev_project", {Slug:_GET[1]}) %}
            {% set next_project = fetch ("next_project", {Slug:_GET[1]}) %}
                <a class="black font-bold font-14" href="project/{{prev_project.Slug}}">&lt; PREV </a>
                <div class="line"></div>
                <a class="black font-bold font-14" href="project/{{next_project.Slug}}">NEXT &gt;</a>
            {% endif %}
        </div>
            <div class="d-flex flex-direction justify-content-between footer--container-row">
                <div class="d-flex flex-column align-items-left justify-content-between footer--container-row-col">
                    <div class="d-flex justify-content-left font-14 font-bold {% if _GET[0] != 'contact' and  _GET[0] != 'profiles' %} black {% else %} white {% endif %} margin-y-p footer--container-row-col--top">GET IN TOUCH</div>
                    <div class="d-flex flex-column justify-content-end footer--container-row-col--bottom">

                        {# <p class="font-14 font-regular {% if _GET[0] != 'contact' and  _GET[0] != 'profiles' %} black {% else %} white {% endif %} margin-y-p">CREDO AGENCY</p> #}
                        <p class="font-14 font-regular {% if _GET[0] != 'contact' and  _GET[0] != 'profiles' %} black {% else %} white {% endif %} margin-y-p">Jaber Al-mubarak St.,</p>
                        <p class="font-14 font-regular {% if _GET[0] != 'contact' and  _GET[0] != 'profiles' %} black {% else %} white {% endif %} margin-y-text">T21 Tower, Floor 12, Sharq, Kuwait</p>
                        <p class="font-14 {% if _GET[0] != 'contact' and  _GET[0] != 'profiles' %} black {% else %} white {% endif %} margin-y-p footer--container-row-col--bottom-mail">Email: <a class="font-14 {% if _GET[0] != 'contact' and  _GET[0] != 'profiles' %} black {% else %} white {% endif %}" href="mailto:info@credo.agency">info@credo.agency</a></p>
                        <p class="font-14 font-regular {% if _GET[0] != 'contact' and  _GET[0] != 'profiles' %} black {% else %} white {% endif %} footer--container-row-col--bottom-statement">Turning brands into beliefs.</p>
                    </div>
                </div>
                <div class="d-flex flex-direction justify-content-between footer--container-row-col">
                    <div class="d-flex flex-column align-items-start justify-content-between padding-x-right-col footer--container-row-col--ndrow-left">
                        <div class="d-flex justify-content-start font-14 font-bold {% if _GET[0] != 'contact' and  _GET[0] != 'profiles' %} black {% else %} white {% endif %} margin-y-p footer--container-row-col--top">SOCIAL</div>
                        <div class="d-flex flex-column justify-content-end footer--container-row-col--bottom">
                            <a class="font-14 font-regular {% if _GET[0] != 'contact' and  _GET[0] != 'profiles' %} black {% else %} white {% endif %} margin-y-p" href="#">Behance</a>
                            <a class="font-14 font-regular {% if _GET[0] != 'contact' and  _GET[0] != 'profiles' %} black {% else %} white {% endif %} margin-y-p" href="https://www.instagram.com/credo.agency/" target="_blank">Instagram</a>
                        </div>
                    </div>
                    <div class="d-flex flex-column align-items-right justify-content-between footer--container-row-col--ndrow-right">
                        <div class="d-flex justify-content-start next-prev">
                            {% if _GET[0] == 'project' %}
                            {% set prev_project = fetch ("prev_project", {Slug:_GET[1]}) %}
                            {% set next_project = fetch ("next_project", {Slug:_GET[1]}) %}
                                <a class="black font-bold font-14" href="project/{{prev_project.Slug}}">&lt; PREV </a>
                                <div class="line"></div>
                                <a class="black font-bold font-14" href="project/{{next_project.Slug}}">NEXT &gt;</a>
                            {% endif %}
                        </div>
                        <div class="d-flex flex-direction footer--container-row-col--bottom-totop"><a class="font-14 font-bold {% if _GET[0] != 'contact' and  _GET[0] != 'profiles' %} black {% else %} white {% endif %}" onclick="scrollToTop()">BACK TO TOP</a></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.js"  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    {# <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> #}

    <script src="owl/owl.carousel.min.js"></script>
    <script>
        var page = "{{ _GET[0] }}";
    </script>
    <script src="./js/menu.js"></script>
    <script src="./js/mailer.js"></script>
     <script>


        var owl = $('.owl-carousel');
        owl.owlCarousel({
            items:1,
            loop:true,
            autoplay:true,
            autoplayTimeout:3000,
            autoplayHoverPause:true,
            nav:false,
            dots:true,
            animateOut: 'fadeOut'
        });
   </script>

</body>
</html>
