{% extends "base.twig" %}
{% block content %}
<div class="project" id="top">
{% set project = fetch("Project", {"id": _GET['1']})[0] %}
{% set project_images = fetch("Image", { parent_id: project.id }) %}

  <div class="project--hero d-flex justify-content-center align-items-center" style="background-image: url('img/{{ project_images[0].Image }}'); background-size: cover; background-repeat: no-repeat; background-position: center;">
    {# <img style="position: relative" class="project--hero" src="img/{{ project_images[0].Image }}"> #}
    {# <img class="project--hero-image" src="images/logo-c-white.png"> #}
  </div>



  <div class="padding-y-60">
    <div class="d-flex flex-direction-2 padding-x-main">
      <div class="d-flex flex-column justify-content-between project-left">

          <div class="d-flex flex-column margin-y-box">
          <div class="black font-24 font-bold margin-y-sub select-y">{{ project.Title }}</div>
            <div class="font-bold font-14 black margin-y-text select-y">{{ project.About_title }}</div>
            <div class="font-14 black letter-spacing--0_3 select-y">{{ project.About }}</div>
          </div>
          <div>
            <div class="black font-14 select-y display--m-none">{{ project.Category }}</div>
          </div>
          {# <div style="width: 10px; height: 10px;">
            <a href="https://twitter.com/share?text={{project.Slug | url_encode}}&amp;url={{_BASE | url_encode}}project%2F{{project.Slug | url_encode}}" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </div> #}
      </div>

      <div class="project-right padding-x-right-col d-flex flex-column">
        {# <div class="d-flex flex-column margin-y-box">
          <div class="font-bold font-14 black margin-y-text select-y">{{ project.About_title }}</div>
          <div class="font-14 black letter-spacing--0_3 select-y">{{ project.About }}</div>
        </div> #}

        <div class="d-flex flex-column justify-content-between">
        {% if project.Challenge | length > 0 %}
          <div class="project-right-side">
            <div class="black font-14 font-bold margin-y-text select-y text-transform--upper">Challenge</div>
            <div class="black font-14 margin-y-box select-y text-prewrap">{{ project.Challenge }}</div>
          </div>
          <div class="project-right-side">
            <div class="black font-14 font-bold margin-y-text select-y text-transform--upper">Approach</div>
            <div class="black font-14 margin-y-box select-y text-prewrap">{{ project.Approach }}</div>
          </div>
        {% else %}
          <div style="width: 100%">
            <div class="black font-14 font-bold margin-y-text select-y text-transform--upper">Approach</div>
            <div class="black font-14 select-y text-prewrap">{{ project.Approach }}</div>
          </div>
        {% endif %}
          <div class="black font-14 select-y margin-y-push display-none d-flex--m">{{ project.Category }}</div>
          <div class="d-flex margin-y-push">
            <div class="social">
              <a href="https://www.linkedin.com/shareArticle?mini=true&url={{_BASE | url_encode}}%2f{{project.Slug | url_encode}}%2F&title={{project.About_title ~ ' Another project by @credo_branding' | url_encode}}&sumarry={{project.About  | url_encode}}&source={{_BASE | url_encode}}" target="_blank" class="font-14 black">
                LinkedIn
              </a>
            </div>
            <div class="social">|</div>
            <div class="social">
              <a href="https://twitter.com/share?url={{_BASE | url_encode}}project%2F{{project.Slug | url_encode}}&amp;text={{project.About_title ~ ' Another project by @credo_branding' | url_encode}}" target="_blank" class="font-14 black">
                Twitter
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  {% for project_image in project_images %}
  {% if loop.index != 1 %}
  {# <div class="project--images margin-y-box" style="background-image: url('img/{{ project_image.Image }}'); background-size: 100% auto; background-repeat: no-repeat; background-position: center;"> #}
    {# <img src="img/{{ project_image.Image }}" class="project--images-image"> #}
  {# </div> #}
  <div class="project--images margin-y-box">
    <img src="img/{{ project_image.Image }}" class="project--images-image">
  </div>
  {% endif %}
  {% endfor %}

</div>

{% endblock %}
